
body {

    background-color:#8FB299;
    
    }
    
.container{


max-width:960px;
padding:0px 8px;
}


footer

 {

    width:100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}


.aboutFont {

    font-family:Arial, Helvetica, sans-serif; 

}
    

.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

a{
    text-align: center;


}